<%# 自身か他ユーザかで表示内容を変更%>
<% @user ||= current_user %>
<h1>
  <%= link_to gravatar_for(@user, size: 50), @user %>
  <%= @user.name %>
</h1>
<span>
  <b><%= link_to "プロフィール", @user %></b>
</span>
<span>
  <b><%= pluralize(@user.microposts.count, "") %>件つぶやいているようです</b>
  </span>